body{
    text-align: center;
    color: aquamarine;
    font-size: 40px;
    background-image: url("https://wallpaper.dog/large/5549638.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Comic Sans Ms";
}
button{
    color: aquamarine;
    font-size: 50px;
    background-color: blue;
    text-align: center;
    font-family: "Comic Sans Ms";
}
input{ 
                
	height : 5%;
	width : 25%;
	font-size:40px;
	text-align:center;
	font-family:"Comic Sans MS";
	background-color:rgb(0, 47, 255);
	color:aquamarine;
}
#submit_button
{
	margin-top: 20px; 
	margin-bottom: 20px; 
}
#sort_button
{
	display: none;
	margin-top: 20px; 
	margin-bottom: 20px; 
}

input
{
	margin: 10px;
}
.display_name_with_commas
{
	border: 1px solid green;
    padding: 10px;
	background-color: greenyellow;
	border-radius: 10px;
    width: 50%;
}

#display_name_without_commas
{
	border: 1px solid red;
    padding: 10px;
    background-color: lightcoral;
	border-radius: 10px;
    width: 50%;
}